<div class="inner-content">
  <button style="margin-bottom: 10px;" nz-button nzType="primary" (click)="add()">
    <span>添加任务</span>
  </button>
  <nz-table [nzLoading]="loading"
            [nzData]="listOfData"
            [nzTotal]="currentData.total"
            [nzPageIndex]="currentData.current_page"
            [nzFrontPagination]="false"
            [nzPageSize]="currentData.per_page"
            (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
    <tr>
      <th>标题</th>
      <th>周期</th>
      <th>参与次数</th>
      <th>状态</th>
      <th>自动参与</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listOfData">
      <td>{{ data.title}}</td>
      <td>{{ data.started_at}}|{{ data.ended_at}}</td>
      <td>{{ data.status}}</td>
      <td>{{ data.auto_start}}</td>
      <td>{{ data.participate_count}}</td>
      <td>{{ data.created_at }}</td>
      <td>
        <a (click)="update(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="onDelete(data)">删除</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="编辑单位" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">单位标题</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入单位标题!">
          <input nz-input formControlName="title" id="title" placeholder="单位标题"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cycle">周期</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入周期!">
          <nz-range-picker formControlName="cycle" id="cycle" placeholder="周期"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="participate_count">参与次数</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入参与次数!">
          <nz-input-number formControlName="participate_count" id="participate_count" [nzSize]="'small'" [nzMin]="1"
                           [nzMax]="999999" [nzStep]="1"
                           placeholder="参与次数"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">状态</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请选择状态!">
          <nz-switch formControlName="status" id="status"></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="auto_start">自动参与</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请选择状态!">
          <nz-switch formControlName="auto_start" id="auto_start"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">关闭</button>
    <button nz-button nzType="primary" (click)="handleOk()">保存</button>
  </div>
</nz-modal>
