<div class="inner-content">
  <nz-table [nzLoading]="loading"

            [nzScroll]="{ x: 'auto', y: '900px' }"
            [nzData]="listOfData"
            [nzTotal]="currentData.total"
            [nzPageIndex]="currentData.current_page"
            [nzFrontPagination]="false"
            [nzPageSize]="currentData.per_page"
            (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
    <tr>
      <th>订单编号</th>
      <th>订单类型</th>
      <th>会员</th>
      <th>支付方式</th>
      <th>单位</th>
      <th>支付时间</th>
      <th>支付状态</th>
      <th>总金额</th>
      <th>减少金额</th>
      <th>支付金额</th>
      <th>佣金金额</th>
      <th>收入金额</th>
      <th>取消时间</th>
      <th>创建时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listOfData">
      <td>{{ data.sn}}</td>
      <td>
        <div [ngSwitch]="data.order_category">
          <span *ngSwitchCase="1">充值订单</span>
          <span *ngSwitchCase="2">VIP订单</span>
          <span *ngSwitchCase="3">提款订单</span>
          <span *ngSwitchCase="4">消费订单</span>
        </div>
      </td>
      <td>{{ data.member_id}}</td>
      <td>
        <div [ngSwitch]="data.pay_method">
          <nz-tag *ngSwitchCase="1" nzColor="error">平台支付</nz-tag>
          <span *ngSwitchCase="2">第三方支付</span>
          <span *ngSwitchCase="3">第三方支付</span>
          <span *ngSwitchCase="4">虚拟账户</span>
        </div>
      </td>
      <td>{{ data.unit?.label}}</td>
      <td>{{ data.pay_at | date:'yyyy-MM-dd HH:mm'}}</td>
      <td>
        <div [ngSwitch]="data.pay_status">
          <span *ngSwitchCase="-1">取消</span>
          <span *ngSwitchCase="0">未支付</span>
          <span *ngSwitchCase="1">支付中</span>
          <nz-tag *ngSwitchCase="2" nzColor="error">已支付</nz-tag>
        </div>
      </td>
      <td>{{ data.total_amount / 100}}</td>
      <td>{{ data.reduce_amount / 100}}</td>
      <td>{{ data.pay_amount / 100}}</td>
      <td>{{ data.commission_amount / 100}}</td>
      <td>{{ data.real_income_amount / 100}}</td>
      <td>
        <span *ngIf="data.cancel_at">
          {{ data.cancel_at | date:'yyyy-MM-dd HH:mm'}}
        </span>
      </td>
      <td>{{ data.created_at }}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
