<div class="inner-content">
<div style="background: #ECECEC; padding: 30px;">
  <nz-row [nzGutter]="24">
    <nz-col [nzSpan]="4">
      <nz-card>
        <nz-statistic [nzValue]="(1949101 | number)!" [nzTitle]="'Active Users'"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card>
        <nz-statistic [nzValue]="(2019.111 | number: '1.0-2')!" [nzTitle]="'Account Balance (CNY)'"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card>
        <nz-statistic [nzValue]="(2019.111 | number: '1.0-2')!" [nzTitle]="'Account Balance (CNY)'"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card>
        <nz-statistic [nzValue]="(1949101 | number)!" [nzTitle]="'Active Users'"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card>
        <nz-statistic [nzValue]="(2019.111 | number: '1.0-2')!" [nzTitle]="'Account Balance (CNY)'"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card>
        <nz-statistic [nzValue]="(2019.111 | number: '1.0-2')!" [nzTitle]="'Account Balance (CNY)'"></nz-statistic>
      </nz-card>
    </nz-col>
  </nz-row>
</div>
</div>
