<div class="inner-content">
  <button style="margin-bottom: 10px;" nz-button nzType="primary" (click)="add()">
    <span>添加房间</span>
  </button>
  <nz-table [nzLoading]="loading"
            [nzData]="listOfData"
            [nzTotal]="currentData.total"
            [nzPageIndex]="currentData.current_page"
            [nzFrontPagination]="false"
            [nzPageSize]="currentData.per_page"
            (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
    <tr>
      <th>游戏</th>
      <th>房间名称</th>
      <th>比赛状态</th>
      <th>快速比赛</th>
      <th>完成比赛</th>
      <th>比赛间隔</th>
      <th>准备时间</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listOfData">
      <td>{{ data.game_id}}</td>
      <td>{{ data.game_room_name}}</td>
      <td>{{ data.status}}</td>
      <td>{{ data.quick}}</td>
      <td>{{ data.complete}}</td>
      <td>{{ data.game_room_qrcode}}</td>
      <td>{{ data.interval}}</td>
      <td>{{ data.status}}</td>
      <td>{{ data.status}}</td>
      <td>{{ data.created_at }}</td>
      <td>
        <a (click)="update(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="onDelete(data)">删除</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="编辑单位" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">单位标题</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入单位标题!">
          <input nz-input formControlName="title" id="title" placeholder="单位标题"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="label">单位标签</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入单位标签!">
          <input nz-input formControlName="label" id="label" placeholder="单位标签"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="symbol">单位符号</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入单位符号!">
          <input nz-input formControlName="symbol" id="symbol" placeholder="单位符号"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">关闭</button>
    <button nz-button nzType="primary" (click)="handleOk()">保存</button>
  </div>
</nz-modal>
