<nz-modal [(nzVisible)]="visible" nzTitle="编辑提款账户" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="account_type">账户类型</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请选账户类型!">
          <nz-radio-group formControlName="account_type" id="account_type">
            <label nz-radio nzValue="1">支付宝</label>
            <label nz-radio nzValue="2">银行卡</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="contact">联系人</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入联系人!">
          <input nz-input formControlName="contact" id="contact" placeholder="联系人"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="mobile">联系电话</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入联系电话!">
          <input nz-input formControlName="mobile" id="mobile" placeholder="联系电话"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="account">账户</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入账户!">
          <input nz-input formControlName="account" id="account" placeholder="账户"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="validateForm.value['account_type'] === '2'">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bank_name">银行名称</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入银行名称!">
          <input nz-input formControlName="bank_name" id="bank_name" placeholder="银行名称"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">关闭</button>
    <button nz-button nzType="primary" (click)="handleSave()">保存</button>
  </div>
</nz-modal>
